<div class="container mt-3">
  <div class="card mb-3" data-testid="stories-panel">
    <h5 class="card-header">
      <div class="d-flex justify-content-between">
        <div class="col-auto">
          <h4>My Stories</h4>
        </div>
        <div class="col-auto">
          <%= link_to 'New Story', new_site_story_path(@site.reference_id), class: "btn btn-primary" %>
        </div>
      </div>
    </h5>
    <div class="list-group list-group-flush" data-testid="stories-list">
      <% @stories.each do |story| %>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <div><%= story.site.site_title %></div>
          <div><%= story.story_title %></div>
          <div><%= story.content_count_message %></div>
          <div><%= link_to 'Edit', edit_site_story_path(@site.reference_id, story.id), class: "btn btn-secondary" %></div>
          <div><%= link_to 'Delete', site_story_path(@site.reference_id, story.id), method: :delete, class: "btn btn-danger" %></div>
        </li>
      <% end %>
    </div>
  </div>
</div>
