<ul>
  <li><%= link_to "vanilla js embedded", widget_path(:vanillajs) %></li>
  <li>
    <%= link_to "bootstrap embedded (not working)", widget_path(:bootstrap) %>
    <%= link_to "bootstrap demo", widget_path(:bootstrap_demo) %>
  </li>
  <li>
    <%= link_to "react embedded", widget_path(:react) %>
    <%= link_to "react demo", widget_path(:react_demo) %>
  </li>
  <li>
    <%= link_to "svelte embedded (requires reload?)", widget_path(:svelte) %>
    <%= link_to "svelte demo", widget_path(:svelte_demo) %>
  </li>
  <li>
    <%= "preact embedded" %>
    <%= "preact demo" %>
  </li>
</ul>