<div class="container mt-3">
  <%= render partial: "identities/breadcrumbs" %>
  <ul class="list-group" data-testid="user-list">
    <% @identities.map do |identity| %>
      <%= link_to identity_path(identity.uid), class: "list-group-item list-group-item-action" do %>
        <div class="row">
          <div class="col-lg-4">
            <%= identity.uid %>
          </div>
          <div class="col-lg-2">
            <%= identity.name %>
          </div>
          <div class="col-lg-2">
          </div>
          <div class="col-lg-4">
          <%= "No sites yet" if identity.sites.empty? %>
          </div>
        </div>
      <% end %>
    <% end %>
  </ul>
</div>