<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light px-3">
  <a class="navbar-brand" href="/">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 164.84 158.8" class="d-inline mx-4" style="fill: #6706bc; width: 50px">
      <g id="Layer_2" data-name="Layer 2">
        <g id="Layer_1-2" data-name="Layer 1">
          <path d="M62.2,70.35A4.37,4.37,0,0,1,57.83,66V48.29c0-1.68-4.11-4.75-10.84-4.75s-10.84,3.07-10.84,4.75V66a4.37,4.37,0,0,1-8.74,0V48.29C27.41,40.72,36,34.8,47,34.8s19.59,5.92,19.59,13.49V66A4.37,4.37,0,0,1,62.2,70.35Z"/>
          <path d="M14.63,158.8a55.53,55.53,0,0,1-11.22-1.11,4.38,4.38,0,0,1-.76-8.28c4.44-1.92,9.5-4.79,11.78-8.57H14.1a14,14,0,0,1-14-15.4l5.79-59a9.93,9.93,0,0,1,9.93-9H68.07a4.37,4.37,0,1,1,0,8.74H15.79a1.22,1.22,0,0,0-1.23,1.08l-5.79,59a5.2,5.2,0,0,0,1.34,4,5.31,5.31,0,0,0,4,1.76H20a4.37,4.37,0,0,1,4.37,4.28c.08,3.87-1.19,8.8-6.29,13.6,7.83-.63,16.83-3.81,19.37-14.52a4.36,4.36,0,0,1,4.25-3.36H79.89a5.31,5.31,0,0,0,4-1.75,4.37,4.37,0,0,1,6.46,5.9,14.16,14.16,0,0,1-10.43,4.59H45c-3.52,9.79-11.56,15.82-23.46,17.5A50.75,50.75,0,0,1,14.63,158.8Z"/>
          <path d="M133.06,54.72a4.38,4.38,0,0,1-4.38-4.37V32.65c0-1.67-4.11-4.75-10.83-4.75S107,31,107,32.65v17.7a4.38,4.38,0,0,1-8.75,0V32.65c0-7.56,8.6-13.49,19.59-13.49s19.58,5.93,19.58,13.49v17.7A4.37,4.37,0,0,1,133.06,54.72Z"/>
          <path d="M150.21,143.17a49.26,49.26,0,0,1-6.89-.47c-11.9-1.68-19.94-7.7-23.46-17.49H85a14.07,14.07,0,0,1-14-15.41l5.79-59a9.93,9.93,0,0,1,9.93-9h62.41a9.92,9.92,0,0,1,9.92,9l5.8,59a14.07,14.07,0,0,1-14,15.41h-.33c2.27,3.77,7.33,6.64,11.78,8.56a4.37,4.37,0,0,1-.76,8.28A55.1,55.1,0,0,1,150.21,143.17ZM86.64,50.54a1.2,1.2,0,0,0-1.22,1.08l-5.8,59h0a5.18,5.18,0,0,0,1.34,4,5.31,5.31,0,0,0,4,1.76h38.17a4.38,4.38,0,0,1,4.25,3.37c2.54,10.7,11.53,13.88,19.36,14.51-5.09-4.79-6.36-9.73-6.29-13.59a4.38,4.38,0,0,1,4.37-4.29h5.93a5.31,5.31,0,0,0,4-1.76,5.18,5.18,0,0,0,1.34-4l-5.8-59a1.2,1.2,0,0,0-1.22-1.08ZM75.27,110.23h0Z"/>
          <path d="M67.07,32.13a3.3,3.3,0,0,1-3-.7l-13.83-12a3.3,3.3,0,1,1,4.33-5l13.84,12a3.3,3.3,0,0,1,.32,4.66A3.22,3.22,0,0,1,67.07,32.13Z"/>
          <path d="M76.87,24.22a3.3,3.3,0,0,1-4-2.34L68.07,4.16a3.31,3.31,0,0,1,2.33-4h0a3.3,3.3,0,0,1,4,2.34l4.77,17.72a3.3,3.3,0,0,1-2.34,4Z"/>
          <path d="M89.21,26.29a3.24,3.24,0,0,1-2.12-.15,3.29,3.29,0,0,1-1.76-4.32L92.46,4.91a3.3,3.3,0,0,1,6.08,2.56L91.41,24.38A3.27,3.27,0,0,1,89.21,26.29Z"/>
        </g>
      </g>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 286.92 98.53" class="d-inline" style="fill: #6706bc"
    ><g id="Layer_2" data-name="Layer 2"
      ><g id="Layer_1-2" data-name="Layer 1"
        ><path
          d="M77.28,49.44C71.93,44,63.18,40,50.78,37.36c-2-.41-4-.76-5.77-1-6.57-1.13-11.33-1.93-11.33-6,0-6,7.54-6,11.59-6,8.13,0,18.42,3.67,26,9.16a9.11,9.11,0,0,0,.75-.53c3.05-2.3,9.5-8.88,9.5-15.57a10.12,10.12,0,0,0-.1-1.48c-.45-4.36-3-7.82-7.88-10.53C67.18,1.8,57.53,0,44.82,0,25.34,0,2.11,5.52,2.11,31.83c0,19.94,17.22,25.9,32.21,28.87,1.41.29,2.77.52,4,.76,6.55,1.19,11.73,2.11,11.73,6.73,0,6-7.74,6-11.9,6-9.41,0-22.15-4.79-29-9.37C7,66.24,0,73.52,0,80c0,5.61,2.49,9.85,7.59,13,6.21,3.73,16.51,5.62,30.6,5.62,29.09,0,44-9.61,45.44-29.31.08-1.07.13-2.16.13-3.29A22.5,22.5,0,0,0,77.28,49.44Z"
        /><path
          d="M209.5,34.54a17.89,17.89,0,0,0-5.46-.72h-3.21a14.35,14.35,0,0,0-6.4,1.27l-5.77,18.84V85.27c0,9.3,3.72,13.26,12.44,13.26h3.21c4.5,0,7.68-1.3,9.6-4,1.55-2.16,2.3-5.22,2.3-9.25V47.07C216.21,40,214.21,36,209.5,34.54Zm5.6-27.18c-2.31-3.67-6.8-5.76-12.8-5.76C193.48,1.6,188,6.32,188,13.91V14a21.64,21.64,0,0,1,8,6.57c1.4,1.93,1.91,3.48,1.54,4.6l-.14.47a19.54,19.54,0,0,0,5.24.64A18.41,18.41,0,0,0,209.5,25c4.68-1.84,7.39-5.76,7.39-11.11A12,12,0,0,0,215.1,7.36Z"
        /><path
          d="M188.83,18.61a21.18,21.18,0,0,0-12.24-3.7c-4,0-13.47,1.48-15.81,15.15l-5.36,34.79-8-33.21c-1.34-6.54-8.51-9.93-14.89-9.93-3.12,0-13.43.7-15.29,9.87l-8,33.08-5.56-34.08c-2.57-14-11.91-15.53-15.8-15.53a25.83,25.83,0,0,0-3,.18,16.57,16.57,0,0,1,.14,2.13c0,9.07-8.52,16.88-12,19.12l2.14,6.68c8.1,5.65,12.07,13.21,12.07,22.77A42,42,0,0,1,86,76.71l3.49,10.86c2.3,7.89,6.93,11,16.52,11,9.88,0,15.42-3.47,17.44-10.92l8.32-33.12,9,33.12c2.27,7.74,7.2,10.92,17.05,10.92,9.51,0,14.69-3.38,16.77-10.94L194,24.34l0-.05C193.71,23.38,192,20.83,188.83,18.61Z"
        /><path
          d="M286.92,16.15v.75c0,9.13-4.41,12.83-15.26,12.83H242.11V43.58h19.6c13.41,0,15.26,5.53,15.26,11.49v.45c0,8.8-4.42,12.38-15.26,12.38H243.63V83.27c0,10.13-4.83,15.26-14.35,15.26h-6a12.68,12.68,0,0,1-6.59-1.67c1.93-2.56,3.15-6.26,3.15-11.59V47.07c0-9.17-3.38-14.53-10.3-16.24v-2c6.84-2.11,11-7.51,11-14.93a15.37,15.37,0,0,0-2.36-8.42,19.75,19.75,0,0,1,8.31-1.58h45.24C282.51,3.91,286.92,7.46,286.92,16.15Z"
        />
        </g>
      </g>
    </svg>
  </a>
  <div class="collapse navbar-collapse" id="navbarContent">
    <% if signed_in? && current_user %>
      <ul class="navbar-nav">
        <% if current_user.admin? %>
          <li class="nav-item">
            <%= link_to 'flipper', "/flipper", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'user list', "/accounts", class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <ul class="navbar-nav ml-auto" style="flex-direction: row;">
    <% if signed_in? %>
      <li class="nav-item" data-testid="signin-name">
        <div class="mx-1">
          <%= link_to edit_account_path(current_user), class: "nav-link font-weight-bold" do %>
            <%= image_tag avatar_path(current_user), height: 30, width: 30, class: "rounded mr-2" %>
            <%= current_user.identities.empty? ? current_user.email : current_user.identities.first.name %>
          <% end %>
        </div>
      </li>
      <li class="nav-link">
        <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: "btn btn-primary" %>
      </li>
    <% else %>
      <li class="nav-link">
        <%= link_to 'Log in', new_user_session_path, class: "btn btn-primary" %>
      </li>
    <% end %>
  </ul>
</nav>
