<!DOCTYPE html>
<html>
  <head>
    <title>SquareSnippetDemo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application-bootstrap' %>
  </head>

  <body>
    <%= flash_messages %>
    <main class="container-fluid">
      <%= yield %>
    </main>
  </body>
</html>
