<div class="container">
  <div class="col-lg-6 offset-lg-3">
    <%= simple_form_for(@user, url: account_path(@user) ) do |f| %>
      <%= f.input :avatar, label: "Avatar Image"%>
      <%= image_tag avatar_path(f.object), class: "rounded border shadow-sm d-block mx-auto my-3" %>
      <%= f.submit class: "btn btn-primary mt-3" %>
    <% end %>

    <div class="mt-3">
      <% if current_user.identities.where(provider: :facebook).empty? %>
        <%= link_to omniauth_authorize_path(FormUser, :facebook), class: "btn btn-primary", method: :post do %>
          <i class="fa fa-facebook-official"></i>
          <span class="align-self-center">connect Facebook</span>
        <% end %>
      <% else %>
        <%= link_to(
          disconnect_facebook_account_path(@user),
          class: "btn btn-outline-danger",
          data: {
            method: :post,
            confirm: "Are you sure?"
          }
        ) do %>
          <i class="fa fa-facebook-official"></i>
          <span class="align-self-center">dsiconnect Facebook</span>
        <% end %>
        currently connected as
        <%= current_user.identities.where(provider: :facebook).first.name %>
      <% end %>
    </div>
  </div>
</div>
